.story-branch {
  top: -35px;
  right: 6px;
  width: 165px;
  height: 275px;
  z-index: 5;
  opacity: 1;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: normal;
  filter: drop-shadow(-8px 12px 16px #332b228c);
}

@media (max-width: 350px) {
  .story-branch {
    top: -22px;
    right: 8px;
    width: 138px;
    height: 230px;
  }
}
